@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
@layer base {
  @font-face {
    font-family: "OpenRunde";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/OpenRunde-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "OpenRunde";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/OpenRunde-Medium.woff2") format("woff2");
  }
  :root {
    --background: 35 75% 97%;
    --backgroundsaturated: 25 30% 83%;

    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 240 6% 10%; /* Previously: 200 50% 3%; */

    --card: 0 100% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 259 83% 86%;
    --primary-hover: 259 83% 82%;
    --primary-active: 259 83% 78%;
    --primary-foreground: 259 71% 38%;
    --primary-accent: 259 82% 54%;

    --secondary: 33 27% 92%;
    --secondary-hover: 26 9% 82%;
    --secondary-active: 26 9% 78%;
    --secondary-foreground: 26 9% 52%;

    --accent: 240 6% 10%;
    --accent-hover: 240 6% 10%;
    --accent-active: 240 6% 10%;
    --accent-foreground: 220.9 39.3% 11%;

    --muted: 30 13% 85%;
    --muted-foreground: 220 8.9% 46.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.75rem;

    /* SongMixer colours */

    --cherry: 348 26% 81%;
    --cherry-foreground: 338 29% 59%;

    --banana: 43 26% 77%;
    --banana-foreground: 47 29% 47%;

    --grape: 100 18% 77%;
    --grape-foreground: 119 21% 52%;

    --blueberry: 212 14% 79%;
    --blueberry-foreground: 213 25% 54%;

    --mint: 167 19% 82%;
    --mint-foreground: 169 21% 52%;

    --onion: 23 23% 78%;
    --onion-foreground: 25 29% 47%;
  }

  .dark {
    --background: 259 75% 5%;
    --backgroundsaturated: 259 75% 13%;

    --primary: 259 83% 82%;
    --primary-hover: 259 83% 78%;
    --primary-active: 259 83% 70%;
    --primary-foreground: 259 71% 38%;
    --primary-accent: 259, 82%, 54%;

    --secondary: 33 27% 92%;
    --secondary-hover: 26 9% 82%;
    --secondary-active: 26 9% 78%;
    --secondary-foreground: 26 9% 52%;

    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  h1 {
    @apply mb-4 text-4xl font-medium;
  }

  h2 {
    @apply mb-4 text-sm font-medium text-foreground;
  }

  h3 {
    @apply text-base font-semibold text-foreground;
  }

  h4 {
    @apply mb-4 text-xl font-medium;
  }

  .card {
    @apply bg-card/70 shadow-sm p-8 rounded-none sm:rounded-[20px] border border-solid border-opacity-80 border-white dark:border-black backdrop-blur-2xl;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @layer base {
    * {
      @apply border-foreground/20;
    }
  }

  .animate-in {
    animation: animateIn 0.3s ease 0.15s both;
  }

  .rgb-button {
    position: relative;
    overflow: hidden;
  }

  .rgb-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(20, 0, 255, 0.1),
      rgba(0, 213, 255, 0.1),
      rgba(0, 255, 163, 0.1),
      rgba(0, 255, 0, 0.1),
      rgba(251, 255, 0, 0.1),
      rgba(255, 153, 0, 0.1),
      rgba(255, 0, 30, 0.1),
      rgba(230, 0, 255, 0.1),
      rgba(68, 0, 255, 0.1),
      rgba(0, 157, 255, 0.1),
      rgba(0, 255, 140, 0.1),
      rgba(34, 255, 0, 0.1),
      rgba(242, 255, 0, 0.1),
      rgba(255, 0, 0, 0.1)
    );
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    pointer-events: none;
  }

  .rgb-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 1;
  }

  .rgb-button:hover::after {
    background: rgba(0, 0, 0, 0.08);
  }

  .rgb-button span {
    position: relative;
    z-index: 2;
  }

  .rgb-background {
    position: relative;
    overflow: hidden;
  }

  .rgb-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(20, 0, 255, 0.05),
      rgba(0, 213, 255, 0.05),
      rgba(0, 255, 163, 0.05),
      rgba(0, 255, 0, 0.05),
      rgba(251, 255, 0, 0.05),
      rgba(255, 153, 0, 0.05),
      rgba(255, 0, 30, 0.05),
      rgba(230, 0, 255, 0.05),
      rgba(68, 0, 255, 0.05),
      rgba(0, 157, 255, 0.05),
      rgba(0, 255, 140, 0.05),
      rgba(34, 255, 0, 0.05),
      rgba(242, 255, 0, 0.05),
      rgba(255, 0, 0, 0.05)
    );
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    pointer-events: none;
  }

  .rgb-background span {
    position: relative;
    z-index: 2;
  }

  .rgb-background90 {
    position: relative;
    overflow: hidden;
  }

  .rgb-background90::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(20, 0, 255, 0.03),
      rgba(0, 213, 255, 0.03),
      rgba(0, 255, 163, 0.03),
      rgba(0, 255, 0, 0.03),
      rgba(251, 255, 0, 0.03),
      rgba(255, 153, 0, 0.03),
      rgba(255, 0, 30, 0.03),
      rgba(230, 0, 255, 0.03),
      rgba(68, 0, 255, 0.03),
      rgba(0, 157, 255, 0.03),
      rgba(0, 255, 140, 0.03),
      rgba(34, 255, 0, 0.03),
      rgba(242, 255, 0, 0.03),
      rgba(255, 0, 0, 0.03)
    );
    background-size: 300% 300%;
    animation: gradient90 5s ease infinite;
    pointer-events: none;
  }

  .rgb-background90 span {
    position: relative;
    z-index: 2;
  }

  @keyframes gradient90 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  html {
    scrollbar-gutter: stable;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    background: fixed;
    background-image: radial-gradient(
      circle at center,
      hsl(var(--backgroundsaturated)) 20%,
      hsl(var(--backgroundsaturated) / 0.4) 50%,
      hsl(var(--background)) 100%
    );
    transition: color 0.3s ease, background-color 0.6s ease;
  }
  /* Add this for any other elements that need to transition */
  * {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .font-instrument-serif {
    font-family: var(--font-instrument-serif);
  }
}
