@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
@layer base {
  @font-face {
    font-family: "OpenRunde";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/OpenRunde-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "OpenRunde";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/OpenRunde-Medium.woff2") format("woff2");
  }
  html {
    font-family: "Inter", sans-serif;
  }
  :root {
    --background: 35 75% 97%;
    --backgroundsaturated: 25 30% 83%;

    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 240 6% 10%; /* Previously: 200 50% 3%; */

    --card: 0 100% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 259 83% 86%;
    --primary-hover: 259 83% 82%;
    --primary-active: 259 83% 78%;
    --primary-foreground: 259 71% 38%;
    --primary-accent: 259 82% 54%;

    --secondary: 33 27% 92%;
    --secondary-hover: 26 9% 82%;
    --secondary-active: 26 9% 78%;
    --secondary-foreground: 26 9% 52%;

    --accent: 240 6% 10%;
    --accent-hover: 240 6% 10%;
    --accent-active: 240 6% 10%;
    --accent-foreground: 220.9 39.3% 11%;

    --muted: 30 13% 85%;
    --muted-foreground: 220 8.9% 46.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.75rem;

    /* SongMixer colours */

    --cherry: 348 26% 81%;
    --cherry-foreground: 338 29% 59%;

    --banana: 43 26% 77%;
    --banana-foreground: 47 29% 47%;

    --grape: 100 18% 77%;
    --grape-foreground: 119 21% 52%;

    --blueberry: 212 14% 79%;
    --blueberry-foreground: 213 25% 54%;

    --mint: 167 19% 82%;
    --mint-foreground: 169 21% 52%;

    --onion: 23 23% 78%;
    --onion-foreground: 25 29% 47%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --background: 259 75% 5%;
    --backgroundsaturated: 259 75% 13%;

    --primary: 259 83% 82%;
    --primary-hover: 259 83% 78%;
    --primary-active: 259 83% 70%;
    --primary-foreground: 259 71% 38%;
    --primary-accent: 259, 82%, 54%;

    --secondary: 33 27% 92%;
    --secondary-hover: 26 9% 82%;
    --secondary-active: 26 9% 78%;
    --secondary-foreground: 26 9% 52%;

    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  h1 {
    @apply mb-4 text-4xl font-medium;
  }

  h2 {
    @apply mb-4 text-sm font-medium text-foreground;
  }

  h3 {
    @apply text-base font-semibold text-foreground;
  }

  h4 {
    @apply mb-4 text-xl font-medium;
  }

  .card {
    @apply bg-card shadow-[0_1px_2px_-1px_rgba(0,_0,_0,_0.1),_inset_0px_-3px_6px_0px_rgba(0,_0,_0,_0.02),0px_1px_29px_-10px_rgba(0,_0,_0,_0.05)] p-8 rounded-none sm:rounded-[20px] border border-solid border-opacity-80 border-white backdrop-blur-2xl;
  }

  .card-inactive {
    @apply bg-card/20 border-dashed p-8 rounded-none sm:rounded-[20px] border border-accent backdrop-blur-2xl;
  }

  .card-empty {
    @apply bg-card/10 p-8 rounded-none sm:rounded-[20px] border border-solid border-opacity-20 border-white backdrop-blur-2xl;
  }

  .card-nav {
    @apply bg-gradient-to-t from-backgroundsaturated/15 to-backgroundsaturated/5 p-8 rounded-[20px] border-solid border border-secondary-foreground/20 backdrop-blur-2xl;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @layer base {
    * {
      @apply border-foreground/20;
    }
  }

  .animate-in {
    animation: animateIn 0.3s ease 0.15s both;
  }

  .rgb-button {
    position: relative;
    overflow: hidden;
  }

  .rgb-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(20, 0, 255, 0.1),
      rgba(0, 213, 255, 0.1),
      rgba(0, 255, 163, 0.1),
      rgba(0, 255, 0, 0.1),
      rgba(251, 255, 0, 0.1),
      rgba(255, 153, 0, 0.1),
      rgba(255, 0, 30, 0.1),
      rgba(230, 0, 255, 0.1),
      rgba(68, 0, 255, 0.1),
      rgba(0, 157, 255, 0.1),
      rgba(0, 255, 140, 0.1),
      rgba(34, 255, 0, 0.1),
      rgba(242, 255, 0, 0.1),
      rgba(255, 0, 0, 0.1)
    );
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    pointer-events: none;
  }

  .rgb-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    z-index: 1;
  }

  .rgb-button:hover::after {
    background: rgba(0, 0, 0, 0.08);
  }

  .rgb-button span {
    position: relative;
    z-index: 2;
  }

  .rgb-background {
    position: relative;
    overflow: hidden;
  }

  .rgb-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(20, 0, 255, 0.05),
      rgba(0, 213, 255, 0.05),
      rgba(0, 255, 163, 0.05),
      rgba(0, 255, 0, 0.05),
      rgba(251, 255, 0, 0.05),
      rgba(255, 153, 0, 0.05),
      rgba(255, 0, 30, 0.05),
      rgba(230, 0, 255, 0.05),
      rgba(68, 0, 255, 0.05),
      rgba(0, 157, 255, 0.05),
      rgba(0, 255, 140, 0.05),
      rgba(34, 255, 0, 0.05),
      rgba(242, 255, 0, 0.05),
      rgba(255, 0, 0, 0.05)
    );
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
    pointer-events: none;
  }

  .rgb-background span {
    position: relative;
    z-index: 2;
  }

  .rgb-background90 {
    position: relative;
    overflow: hidden;
  }

  .rgb-background90::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(20, 0, 255, 0.03),
      rgba(0, 213, 255, 0.03),
      rgba(0, 255, 163, 0.03),
      rgba(0, 255, 0, 0.03),
      rgba(251, 255, 0, 0.03),
      rgba(255, 153, 0, 0.03),
      rgba(255, 0, 30, 0.03),
      rgba(230, 0, 255, 0.03),
      rgba(68, 0, 255, 0.03),
      rgba(0, 157, 255, 0.03),
      rgba(0, 255, 140, 0.03),
      rgba(34, 255, 0, 0.03),
      rgba(242, 255, 0, 0.03),
      rgba(255, 0, 0, 0.03)
    );
    background-size: 300% 300%;
    animation: gradient90 5s ease infinite;
    pointer-events: none;
  }

  .rgb-background90 span {
    position: relative;
    z-index: 2;
  }

  @keyframes gradient90 {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 50% 0%;
    }
  }

  @keyframes animateIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  html {
    scrollbar-gutter: stable;
  }
  body {
    color: var(--foreground);
    background: var(--background);
    transition: color 0.3s ease, background-color 0.6s ease;
  }
  /* Add this for any other elements that need to transition */
  * {
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .font-instrument-serif {
    font-family: var(--font-instrument-serif);
  }
}

.circlecontainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.5);
  transform: translate(-50%, -50%);
}
.circle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8vmin;
  height: 8vmin;
  border-radius: 100%;
  transform: translate(-50%, 0) scale(0);
  background-color: #a1958c10;
  animation: canim 6s infinite linear;
}
.circle:nth-child(1) {
  animation-delay: 0s;
  transform: rotate(0deg) translate(-50%, 16vmin);
}
.circle:nth-child(1):after {
  animation-delay: 0s;
}
.circle:nth-child(2) {
  animation-delay: -0.08s;
  transform: rotate(28.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(2):after {
  animation-delay: -0.08s;
}
.circle:nth-child(3) {
  animation-delay: -0.16s;
  transform: rotate(57.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(3):after {
  animation-delay: -0.16s;
}
.circle:nth-child(4) {
  animation-delay: -0.24s;
  transform: rotate(86.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(4):after {
  animation-delay: -0.24s;
}
.circle:nth-child(5) {
  animation-delay: -0.32s;
  transform: rotate(115.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(5):after {
  animation-delay: -0.32s;
}
.circle:nth-child(6) {
  animation-delay: -0.4s;
  transform: rotate(144deg) translate(-50%, 16vmin);
}
.circle:nth-child(6):after {
  animation-delay: -0.4s;
}
.circle:nth-child(7) {
  animation-delay: -0.48s;
  transform: rotate(172.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(7):after {
  animation-delay: -0.48s;
}
.circle:nth-child(8) {
  animation-delay: -0.56s;
  transform: rotate(201.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(8):after {
  animation-delay: -0.56s;
}
.circle:nth-child(9) {
  animation-delay: -0.64s;
  transform: rotate(230.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(9):after {
  animation-delay: -0.64s;
}
.circle:nth-child(10) {
  animation-delay: -0.72s;
  transform: rotate(259.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(10):after {
  animation-delay: -0.72s;
}
.circle:nth-child(11) {
  animation-delay: -0.8s;
  transform: rotate(288deg) translate(-50%, 16vmin);
}
.circle:nth-child(11):after {
  animation-delay: -0.8s;
}
.circle:nth-child(12) {
  animation-delay: -0.88s;
  transform: rotate(316.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(12):after {
  animation-delay: -0.88s;
}
.circle:nth-child(13) {
  animation-delay: -0.96s;
  transform: rotate(345.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(13):after {
  animation-delay: -0.96s;
}
.circle:nth-child(14) {
  animation-delay: -1.04s;
  transform: rotate(374.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(14):after {
  animation-delay: -1.04s;
}
.circle:nth-child(15) {
  animation-delay: -1.12s;
  transform: rotate(403.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(15):after {
  animation-delay: -1.12s;
}
.circle:nth-child(16) {
  animation-delay: -1.2s;
  transform: rotate(432deg) translate(-50%, 16vmin);
}
.circle:nth-child(16):after {
  animation-delay: -1.2s;
}
.circle:nth-child(17) {
  animation-delay: -1.28s;
  transform: rotate(460.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(17):after {
  animation-delay: -1.28s;
}
.circle:nth-child(18) {
  animation-delay: -1.36s;
  transform: rotate(489.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(18):after {
  animation-delay: -1.36s;
}
.circle:nth-child(19) {
  animation-delay: -1.44s;
  transform: rotate(518.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(19):after {
  animation-delay: -1.44s;
}
.circle:nth-child(20) {
  animation-delay: -1.52s;
  transform: rotate(547.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(20):after {
  animation-delay: -1.52s;
}
.circle:nth-child(21) {
  animation-delay: -1.6s;
  transform: rotate(576deg) translate(-50%, 16vmin);
}
.circle:nth-child(21):after {
  animation-delay: -1.6s;
}
.circle:nth-child(22) {
  animation-delay: -1.68s;
  transform: rotate(604.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(22):after {
  animation-delay: -1.68s;
}
.circle:nth-child(23) {
  animation-delay: -1.76s;
  transform: rotate(633.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(23):after {
  animation-delay: -1.76s;
}
.circle:nth-child(24) {
  animation-delay: -1.84s;
  transform: rotate(662.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(24):after {
  animation-delay: -1.84s;
}
.circle:nth-child(25) {
  animation-delay: -1.92s;
  transform: rotate(691.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(25):after {
  animation-delay: -1.92s;
}
.circle:nth-child(26) {
  animation-delay: -2s;
  transform: rotate(720deg) translate(-50%, 16vmin);
}
.circle:nth-child(26):after {
  animation-delay: -2s;
}
.circle:nth-child(27) {
  animation-delay: -2.08s;
  transform: rotate(748.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(27):after {
  animation-delay: -2.08s;
}
.circle:nth-child(28) {
  animation-delay: -2.16s;
  transform: rotate(777.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(28):after {
  animation-delay: -2.16s;
}
.circle:nth-child(29) {
  animation-delay: -2.24s;
  transform: rotate(806.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(29):after {
  animation-delay: -2.24s;
}
.circle:nth-child(30) {
  animation-delay: -2.32s;
  transform: rotate(835.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(30):after {
  animation-delay: -2.32s;
}
.circle:nth-child(31) {
  animation-delay: -2.4s;
  transform: rotate(864deg) translate(-50%, 16vmin);
}
.circle:nth-child(31):after {
  animation-delay: -2.4s;
}
.circle:nth-child(32) {
  animation-delay: -2.48s;
  transform: rotate(892.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(32):after {
  animation-delay: -2.48s;
}
.circle:nth-child(33) {
  animation-delay: -2.56s;
  transform: rotate(921.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(33):after {
  animation-delay: -2.56s;
}
.circle:nth-child(34) {
  animation-delay: -2.64s;
  transform: rotate(950.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(34):after {
  animation-delay: -2.64s;
}
.circle:nth-child(35) {
  animation-delay: -2.72s;
  transform: rotate(979.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(35):after {
  animation-delay: -2.72s;
}
.circle:nth-child(36) {
  animation-delay: -2.8s;
  transform: rotate(1008deg) translate(-50%, 16vmin);
}
.circle:nth-child(36):after {
  animation-delay: -2.8s;
}
.circle:nth-child(37) {
  animation-delay: -2.88s;
  transform: rotate(1036.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(37):after {
  animation-delay: -2.88s;
}
.circle:nth-child(38) {
  animation-delay: -2.96s;
  transform: rotate(1065.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(38):after {
  animation-delay: -2.96s;
}
.circle:nth-child(39) {
  animation-delay: -3.04s;
  transform: rotate(1094.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(39):after {
  animation-delay: -3.04s;
}
.circle:nth-child(40) {
  animation-delay: -3.12s;
  transform: rotate(1123.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(40):after {
  animation-delay: -3.12s;
}
.circle:nth-child(41) {
  animation-delay: -3.2s;
  transform: rotate(1152deg) translate(-50%, 16vmin);
}
.circle:nth-child(41):after {
  animation-delay: -3.2s;
}
.circle:nth-child(42) {
  animation-delay: -3.28s;
  transform: rotate(1180.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(42):after {
  animation-delay: -3.28s;
}
.circle:nth-child(43) {
  animation-delay: -3.36s;
  transform: rotate(1209.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(43):after {
  animation-delay: -3.36s;
}
.circle:nth-child(44) {
  animation-delay: -3.44s;
  transform: rotate(1238.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(44):after {
  animation-delay: -3.44s;
}
.circle:nth-child(45) {
  animation-delay: -3.52s;
  transform: rotate(1267.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(45):after {
  animation-delay: -3.52s;
}
.circle:nth-child(46) {
  animation-delay: -3.6s;
  transform: rotate(1296deg) translate(-50%, 16vmin);
}
.circle:nth-child(46):after {
  animation-delay: -3.6s;
}
.circle:nth-child(47) {
  animation-delay: -3.68s;
  transform: rotate(1324.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(47):after {
  animation-delay: -3.68s;
}
.circle:nth-child(48) {
  animation-delay: -3.76s;
  transform: rotate(1353.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(48):after {
  animation-delay: -3.76s;
}
.circle:nth-child(49) {
  animation-delay: -3.84s;
  transform: rotate(1382.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(49):after {
  animation-delay: -3.84s;
}
.circle:nth-child(50) {
  animation-delay: -3.92s;
  transform: rotate(1411.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(50):after {
  animation-delay: -3.92s;
}
.circle:nth-child(51) {
  animation-delay: -4s;
  transform: rotate(1440deg) translate(-50%, 16vmin);
}
.circle:nth-child(51):after {
  animation-delay: -4s;
}
.circle:nth-child(52) {
  animation-delay: -4.08s;
  transform: rotate(1468.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(52):after {
  animation-delay: -4.08s;
}
.circle:nth-child(53) {
  animation-delay: -4.16s;
  transform: rotate(1497.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(53):after {
  animation-delay: -4.16s;
}
.circle:nth-child(54) {
  animation-delay: -4.24s;
  transform: rotate(1526.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(54):after {
  animation-delay: -4.24s;
}
.circle:nth-child(55) {
  animation-delay: -4.32s;
  transform: rotate(1555.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(55):after {
  animation-delay: -4.32s;
}
.circle:nth-child(56) {
  animation-delay: -4.4s;
  transform: rotate(1584deg) translate(-50%, 16vmin);
}
.circle:nth-child(56):after {
  animation-delay: -4.4s;
}
.circle:nth-child(57) {
  animation-delay: -4.48s;
  transform: rotate(1612.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(57):after {
  animation-delay: -4.48s;
}
.circle:nth-child(58) {
  animation-delay: -4.56s;
  transform: rotate(1641.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(58):after {
  animation-delay: -4.56s;
}
.circle:nth-child(59) {
  animation-delay: -4.64s;
  transform: rotate(1670.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(59):after {
  animation-delay: -4.64s;
}
.circle:nth-child(60) {
  animation-delay: -4.72s;
  transform: rotate(1699.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(60):after {
  animation-delay: -4.72s;
}
.circle:nth-child(61) {
  animation-delay: -4.8s;
  transform: rotate(1728deg) translate(-50%, 16vmin);
}
.circle:nth-child(61):after {
  animation-delay: -4.8s;
}
.circle:nth-child(62) {
  animation-delay: -4.88s;
  transform: rotate(1756.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(62):after {
  animation-delay: -4.88s;
}
.circle:nth-child(63) {
  animation-delay: -4.96s;
  transform: rotate(1785.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(63):after {
  animation-delay: -4.96s;
}
.circle:nth-child(64) {
  animation-delay: -5.04s;
  transform: rotate(1814.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(64):after {
  animation-delay: -5.04s;
}
.circle:nth-child(65) {
  animation-delay: -5.12s;
  transform: rotate(1843.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(65):after {
  animation-delay: -5.12s;
}
.circle:nth-child(66) {
  animation-delay: -5.2s;
  transform: rotate(1872deg) translate(-50%, 16vmin);
}
.circle:nth-child(66):after {
  animation-delay: -5.2s;
}
.circle:nth-child(67) {
  animation-delay: -5.28s;
  transform: rotate(1900.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(67):after {
  animation-delay: -5.28s;
}
.circle:nth-child(68) {
  animation-delay: -5.36s;
  transform: rotate(1929.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(68):after {
  animation-delay: -5.36s;
}
.circle:nth-child(69) {
  animation-delay: -5.44s;
  transform: rotate(1958.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(69):after {
  animation-delay: -5.44s;
}
.circle:nth-child(70) {
  animation-delay: -5.52s;
  transform: rotate(1987.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(70):after {
  animation-delay: -5.52s;
}
.circle:nth-child(71) {
  animation-delay: -5.6s;
  transform: rotate(2016deg) translate(-50%, 16vmin);
}
.circle:nth-child(71):after {
  animation-delay: -5.6s;
}
.circle:nth-child(72) {
  animation-delay: -5.68s;
  transform: rotate(2044.8deg) translate(-50%, 16vmin);
}
.circle:nth-child(72):after {
  animation-delay: -5.68s;
}
.circle:nth-child(73) {
  animation-delay: -5.76s;
  transform: rotate(2073.6deg) translate(-50%, 16vmin);
}
.circle:nth-child(73):after {
  animation-delay: -5.76s;
}
.circle:nth-child(74) {
  animation-delay: -5.84s;
  transform: rotate(2102.4deg) translate(-50%, 16vmin);
}
.circle:nth-child(74):after {
  animation-delay: -5.84s;
}
.circle:nth-child(75) {
  animation-delay: -5.92s;
  transform: rotate(2131.2deg) translate(-50%, 16vmin);
}
.circle:nth-child(75):after {
  animation-delay: -5.92s;
}
@keyframes canim {
  50% {
    transform: translate(-50%, 120%) scale(1);
  }
  100% {
    transform: translate(-50%, 240%) scale(0);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
